*.pyc
*.jpg
*.png
*.sqlite
*.npy
*.magnitude
fasttext_model_ptt_wiki_2_keyFormat
*.ttc
*.ttf
*.mp4
*.json
*.jpe
*.ann
*.bak
*.old*.webp
*.log
*~
vec2seq
utility
SenComPlete./fasttext_model_ptt_wiki_2.magnitude
./fasttext_model_ptt_wiki_2_gensim.wv.vectors_ngrams.npy
./fasttext_model_ptt_wiki_2_keyFormat.vectors.npy
./MediaWarehouse/medias.sqlite
./vec2seq/backup/self_sentence.ann
./vec2seq/backup/sentence.ann
./vec2seq/backup/vec2seq.sqlite
./vec2seq/fasttext_model_ptt_wiki_2.bin
./vec2seq/fasttext_model_wiki_ptt_dim300.bin
./vec2seq/fasttext_model_wiki_ptt_dim300_compressed.model.vectors.npy
./vec2seq/self_sentence.ann
./vec2seq/self_sentence.ann.bak
./vec2seq/self_sentence.ann.old
./vec2seq/sentence.ann
./vec2seq/sentence.ann.bak
./vec2seq/sentence.ann.old
./vec2seq/vec2seq.sqlite
./vec2seq/vec2seq.sqlite.old
